/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
html {
  --cor-fundo: #fbfaf4;
  --cor-texto: #18352f;
  --cor-texto-secundario: #50645f;
  --cor-destaque: #a85c0b;
  --cor-acao: #db7618;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  background: var(--cor-fundo);
}
body {
  margin: 0;
}
